<section class="blog-hero-img">
  <div class="container">
    <h1>Pastor's Blog</h1>
  </div>
</section>

<div class="container">
	<p id="notice"><%= notice %></p>
	<section class="blog-content">
		<h1 class="blog-title"><%= @blog.title %></h1>
		<div class="date-author">
			<%= image_tag(current_user.avatar.url(:thumb), class: "blog-author-img") %>
			<p class="author"><%= current_user.user_name %></p> |
			<p class="blog-date"><%= @blog.created_at.strftime("%d %b. %Y") %></p>
		</div>
		<div class="edit-delete-btns">
			<%= link_to 'Edit', edit_blog_path(@blog) %> |
			<%= link_to 'Back', blogs_path %>
		</div>
		<%= image_tag @blog.image.url(:medium), class:"blog-show-img" %>
		<p class="blog-post"><%= markdown @blog.post %></p>
		<div class="social-links">
			<p>Share this post</p>
			<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @blog.title %> by @kgb4000 - &amp;url=<%= url_for([@blog, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"> 
					<i class="fa fa-twitter-square"></i>
			</a>
			<a onclick="javascript:window.open('http://facebook.com/sharer.php?u=<%= url_for([@blog, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"> 
				<i class="fa fa-facebook-square"></i>
			</a>
			<a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@blog, {only_path: false}]) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"> 
				<i class="fa fa-google-plus-square"></i>
			</a>
		</div>
	</section>
</div>
<%= render "layouts/support" %>
