<section class="events-hero-img">
  <div class="container">
    <h1>Church Events</h1>
  </div>
</section>

<section class="upcoming-events page">
  <div class="container">
    <p id="notice"><%= notice %></p>
    <h2>Upcoming Events</h2>
    <div class="btn">
      <%= link_to 'Add a New Event', new_event_path %>
    </div>
    <% @events.each do |event| %>
      <section class="event group">
        <div class="event-date">
          <%= event.date %>
        </div>
        <div class="event-details">
          <h1 class="event-title"><%= event.name %></h1>
          <p class="event-time"><%= event.time %></p>
          <address>
            <%= event.address %>
          </address>
          <div class="event-info"><%= truncate(event.description, length: 150) %></div>
          <div class="details">
            <%= link_to 'Details', event %>
            <i class="fa fa-long-arrow-right"></i>
          </div>
          <div class="show-edit-delete-btns">
            <%= link_to 'Edit', edit_event_path(event) %> |
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
  <div class="see-more-btn btn">
    <a href="#">See More</a>
  </div>
</section>
<%= render "layouts/support" %>

    
