<section class="events-hero-img">
  <div class="container">
    <h1>Church Events</h1>
  </div>
</section>

<div class="container">

  <p id="notice"><%= notice %></p>

  <section class="content">
    <h1><%= @event.name %></h1>

    <p>
      <strong>Date: </strong>
      <%= @event.date %>
    </p>

    <p>
      <strong>Time: </strong>
      <%= @event.time %>
    </p>

    <p>
      <strong>Address: </strong>
      <%= @event.address %>
    </p>

    <p>
      <strong>Description: </strong>
      <%= @event.description %>
    </p>
    
    <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Back', events_path %>
  </section>
</div>
<%= render "layouts/support" %>
