
    <section class="hero-img">
      <div class="container">
        <h1>Welcome to Asbury Broadneck United Methodist Church</h1>
      </div>
    </section>

    <section class="video-header">
      <div class="inner">
        <h1><span class="welcome-to">Welcome to</span> Asbury Broadneck United<span class="welcome-to"> Methodist Church</span></h1>
      </div>
      <%= video_tag("https://s3.amazonaws.com/asburychurch/church.mp4", :controls => false, :id =>"video-background", :autoplay => true, :autobuffer => true, :loop => true) %>
    </section>

    <section class="intro-text">
      <div class="container">
        <h2>Come Join Us</h2>
        <p>We invite you to come and worship with us, as we offer praises to the God of salvation. We are involved in many ministries at Asbury Broadneck United Methodist Church. There is room for you and your family. Please consider becoming a part of our efforts. There is a place, a ministry, and work for you here at Asbury Broadneck United Methodist Church.</p>
        <div class="visit-us-btn btn">
          <a href="#">Visit Us</a>
        </div>
      </div>
    </section>

    <section id ="google-ma" class="times-location group">
      <div class="times-and-location-section group service-times-container">
        <div class="service-times service-container">
          <div class="times">
            <h2>Church Service Times</h2>
            <p>Sunday Worship | 10:00 am</p>
            <p>Sunday School | 9:45 am</p>
          </div>
          <div class="location">
            <h2>Location</h2>
            <address>
            <span>657 Broadneck Rd</span>
            <span>Annapolis, Maryland 21409</span>
            </address>
          </div>
        </div>
        <div id="map"></div>
      </div>
      <div class="get-directions-btn btn">
        <a href="https://www.google.com/maps/dir//Asbury+Broadneck+United+Methodist,+Annapolis,+MD+21409/@39.0285058,-76.4870098,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89b802a964fb69cf:0x55bd37656c10f733!2m2!1d-76.4519046!2d39.0284444">Get Directions</a>
      </div>
    </section>

    <section class="upcoming-events">
      <div class="container">
      <h2>Upcoming Events</h2>
      <section class="event group">
        <div class="event-date">
          <div class="event-month">Apr</div>
          <div class="event-day">3</div>
        </div>
        <div class="event-details">
          <h1 class="event-title">Pastor's Ball</h1>
          <address>
            657 Broadneck Road Annapolis Maryland 21409
          </address>
          <div class="event-info">Suspendisse tincidunt laoreet vestibulum? Quisque posuere ut quam nec egestas? Morbi facilisis ex ac magna aliquet, ac feugiat nibh faucibus. Curabitur feugiat finibus eros, vel porta nunc vestibulum quis. Praesent iaculis fringilla egestas. Proin facilisis dapibus quam et dignissim. Sed placerat libero posuere magna pharetra, id condimentum eros suscipit.</div>
          <a href="#" class="details">Details
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
      </section>
      <section class="event group">
        <div class="event-date">
          <div class="event-month">May</div>
          <div class="event-day">12</div>
        </div>
        <div class="event-details">
          <h1 class="event-title">Women's  Ministry Meeting</h1>
          <address>
            657 Broadneck Road Annapolis Maryland 21409
          </address>
          <div class="event-info">Suspendisse tincidunt laoreet vestibulum? Quisque posuere ut quam nec egestas? Morbi facilisis ex ac magna aliquet, ac feugiat nibh faucibus. Curabitur feugiat finibus eros, vel porta nunc vestibulum quis. Praesent iaculis fringilla egestas. Proin facilisis dapibus quam et dignissim. Sed placerat libero posuere magna pharetra, id condimentum eros suscipit.</div>
          <a href="#" class="details">Details
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
      </section>
      <section class="event group">
        <div class="event-date">
          <div class="event-month">Jun</div>
          <div class="event-day">14</div>
        </div>
        <div class="event-details">
          <h1 class="event-title">Annapolis Food Drive</h1>
          <address>
            657 Broadneck Road Annapolis Maryland 21409
          </address>
          <div class="event-info">Suspendisse tincidunt laoreet vestibulum? Quisque posuere ut quam nec egestas? Morbi facilisis ex ac magna aliquet, ac feugiat nibh faucibus. Curabitur feugiat finibus eros, vel porta nunc vestibulum quis. Praesent iaculis fringilla egestas. Proin facilisis dapibus quam et dignissim. Sed placerat libero posuere magna pharetra, id condimentum eros suscipit.</div>
          <a href="#" class="details">Details
            <i class="fa fa-long-arrow-right"></i>
          </a>
        </div>
      </section>
      <div class="see-more-btn btn">
        <%= link_to 'See More', events_path %>
      </div>
    </section>

    <section class="prayer-requests">
      <div class="container">
        <h2>Have a prayer request?</h2>
        <p>Fill out this form</p>
        <form id="prayer-request">
          <input id="name" type="text" placeholder="Name"/>
          <input id="email" type="email" placeholder="Email"/>
          <textarea col="10" rows="10" placeholder="Please tell us how we can help"></textarea>
          <input type="submit" value="Send" />
        </form>
      </div>
    </section>

    <section class="latest-sermons">
      <div class="container">
        <h2>Latest Sermons</h2>
        <section class="sermon">
          <div class="group">
            <div class="sermon-info">
              <h1 class="sermon-title">The Joy of the Lord</h1>
              <p class="sermon-author">Rev. Tillett, </p>
              <p class="sermon-date">January 24th, 2016</p>
            </div>
          </div>
          <div class="sermon-player">
            <audio class="audio-player" src="audio/Vacationer - Good as New.mp3" style="width:100%; height:60px;"></audio>
          </div>
        </section>
        <section class="sermon">
          <div class="group">
            <div class="sermon-info">
              <h1 class="sermon-title">The Joy of the Lord</h1>
              <p class="sermon-author">Rev. Tillett, </p>
              <p class="sermon-date">January 24th, 2016</p>
            </div>
          </div>
          <div class="sermon-player">
            <audio class="audio-player" src="audio/Vacationer - Good as New.mp3" style="width:100%; height:60px;"></audio>
          </div>
        </section>
        <section class="sermon">
          <div class="group">
            <div class="sermon-info">
              <h1 class="sermon-title">The Joy of the Lord</h1>

              <p class="sermon-author">Rev. Tillett, </p>
              <p class="sermon-date">January 24th, 2016</p>
            </div>
          </div>
          <div class="sermon-player">
            <audio class="audio-player" src="audio/Vacationer - Good as New.mp3" style="width:100%; height:60px;"></audio>
          </div>
        </section>
        <div class="hear-more-btn btn">
          <a href="sermons.html">Hear More</a>
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="container">
        <h2>The Pastor's Blog</h2>
        <% @blogs.each do |blog| %>
          <section class="blog-entry group">
            <%= image_tag blog.image.url(:large), class:"blog-img" %>
              <div class="blog-details">
                <h1 class="blog-title"><%= blog.title %></h1>
                <%= image_tag(blog.user.avatar, class: "blog-author-img") %>
                <p class="author"><%= blog.user.user_name %></p> |
                <span class="blog-date"><%= blog.created_at.strftime("%d %b. %Y") %></span>
                <div class="blog-excerpt"><%= truncate(blog.post, length: 220) %></div>
                <div class="read-more">
                <%= link_to 'Read More', blog %>
                <i class="fa fa-long-arrow-right"></i>
              </div>
              <% if blog.user == current_user %>
                <div class="show-edit-delete-btns">
                  <%= link_to 'Edit', edit_blog_path(blog) %> |
                  <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            </div>
          </section>
        <% end %>
        <div class="read-more-btn btn">
        <%= link_to 'Read More', blogs_path %>
        </div>
      </div>
    </section>

    <section class="support-our-church">
      <div class="container">
        <h2>Support Our Church</h2>
        <div class="give-img">
          <%= link_to image_tag("give-btn.svg"), pages_give_path %></a>
        </div>
        <div class="learn-more-btn btn">
          <%= link_to 'Learn More', pages_give_path %>
        </div>
      </div>
    </section>


